<% include partials/header %>

<div class="container">

<h1>Travelize Homepage</h1>

<p>Welcome to Travelize</p>
<a class="waves-effect waves-red red darken-3 btn" href="/locations/new">Add New Location</a>
<br > <br /><hr>
<a href="/locations">View all locations</a>

<!-- /container -->
</div>

<% include partials/footer %>